<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #7fc6ba;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: snow;">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about-me" style="color: snow">About Me</a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/skills" id="navbarDropdown" role="button" style="color: snow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skills</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/skills" style="color: #7fc6ba">Soft Skills</a>
              <a class="dropdown-item" href="/code-skills" style="color: #7fc6ba">Programming Skills</a>
              <a class="dropdown-item" href="/sd-tools" style="color: #7fc6ba">Software App Knowledge</a>
            </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: snow">Contact Me</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/resume" style="color: snow">Resume</a>
      </li>

    </ul>
  </div>
</nav>
