<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #7fc6ba;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: snow;">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about-me" style="color: snow">About Me</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/skills" style="color: snow">Skills</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color: snow">Contact Me</a>
      </li>

    </ul>
  </div>
</nav>
