<app-header></app-header>

<div class="container">

  <div class="slider">
      <div class="caption">
        I am
        <div class="text-box">
          <div>creative</div>
          <div>dedicated</div>
          <div>driven</div>
          <div>adaptable</div>
          <div>reliable</div>
          <div>sociable</div>
        </div>
      </div>
    </div>
    <h4> I am a Junior majoring in Computer Engineering at Purdue University. I chose this major because
    I enjoy being creative. I love seeing my code come to life on a computer and having the ability to employ
    my own style. Before coming to Purdue, I did not have much experience with programming. Once I started working
     with some of the basics such as C and HTML, I realized just how much I wanted to learn more.
    I may not have years of experience or know ten programming languages, but I am driven to get to that point.
     My passion and curiosity for computers sets me ahead of my peers and I strive to continue
    learning as much as I can about the worlds of hardware and software.</h4>
    <br>
    <h4>Currently, I am working with Honda Manufacturing of Indiana as a Software Engineer Intern in their Information Systems department. Despite
      initial setback due to Covid-19, I have been able to shadow and work with professional software developers to observe their responsibilities and
      workload look like. Right now, I have been tasked with creating an application that will scan a barcode of an item, and either add or remove
      that product from the overall inventory for the Paint department at this facility. To do this, I have been utilizing Typescript and AngularJS.</h4>

</div>

<router-outlet></router-outlet>

