h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 70pt;
  font-size: 32pt;;
}

.box {
    box-sizing: border-box;
    width: 30%;
    height: 20%;
    position: relative;
    background-color: rgb(104, 187, 243);
    margin:25px;
    display: inline-block;
    border-radius:5%;
    padding-bottom: 3%;

}

.box h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:60;
    font-size:3.5vw;
    padding:2vw;
    text-align: center;
}
.box p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  text-align: center;
}

.box svg {
  height: auto;
  width: 15%;
  padding-top: 5%;
  display: block;
  margin: auto;
}

.uno {
    background-color:#77e6f5;
    z-index:3;
    animation-name: uno;
    animation-duration: 1s;
    animation-delay: 0s;
}

@keyframes uno {
    0%   {left:-100%;opacity:0}
    100% {left:0;opacity:1}
}

.dos {
    background-color:#78bef7;
    z-index:2;
    animation-name: dos;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes dos {
    0%   {left:-100%;opacity:0}
    100% {left:0;opacity:1}
}

.tres {
    background-color:#44a7ce;
    z-index:1;
    animation-name: tres;
    animation-duration: 2s;
    animation-delay: 0s;
}

@keyframes tres {
    0%   {left:-100%;opacity:0}
    100% {left:0;opacity:1}
}

